lpass status 2>&1 >/dev/null
if [ $? = 0 ]; then
  export AWS_ACCESS_KEY_ID=$(bosh int --path /AWS_ACCESS_KEY_ID <(lpass show --notes 'pivotal-buildpacks s3'))
  export AWS_SECRET_ACCESS_KEY=$(bosh int --path /AWS_SECRET_ACCESS_KEY <(lpass show --notes 'pivotal-buildpacks s3'))
fi
